.todoLine {
  display: flex;
  margin: 1rem 1rem 1rem 0;

  &:hover {
    opacity: 0.6;
  }

  p {
    font-size: 20px;
    padding-left: 20px;
  }

  input {
    margin-right: 10px
  }
}

.todoBlock {
  margin-left: 40px;
  margin-top: 50px;
}

.importantBtn {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 3px;
  font-size: 20px;
  }

.important {
  color: red;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.do {
  margin: 0;
}

.checkbox {
  cursor: pointer;
}

.noFind {
  font-size: 20px;
}
