<div class="todoBlock" *ngIf="todos.length!=0">

  <div class="todoLine" *ngFor="let t of todos, let i = index" >

    <input
      type="checkbox"
      class="checkbox"
      id="{{i}}"
      [(ngModel)]="todos[i].done"
      (change)="checkValue($event)"
    >

    <button
      id="{{i}}"
      class="importantBtn btn "
      (click)="addToImportant($event)"
      *ngIf="!t.important"
    >!!!</button>

    <button
      id="{{i}}"
      class="importantBtn btn importantOn"
      (click)="addToImportant($event)"
      *ngIf="t.important"
    >!!!</button>

    <p class="do" *ngIf="!t.done">{{t.title}}</p>
    <p class="done" *ngIf="t.done">{{t.title}} </p>


  </div>
</div>

