.todoLine {
  display: flex;
  margin: 1rem 1rem 1rem 0;

  &:hover {
    opacity: 0.6;
  }

  p {
    font-size: 20px;
  }

  .do {
    margin: 0;
    padding-left: 20px;
  }

  .done {
    text-decoration: line-through;
    color: darkslategray;
    padding-left: 20px;
  }

  input {
    margin-right: 10px
  }
}

.todoBlock {
  margin-left: 40px;
}

.importantBtn {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 3px;
  font-size: 20px;

  &:hover {
    opacity: 0.6;
  }
}

.importantOn {
  color: red;
  font-weight: bold;
}
