<div class="todoBlock" *ngIf="todos.length!=0">

  <div class="todoLine" *ngFor="let todo of todos, let i = index">

    <input
      *ngIf=
        "todo.title.includes(searchTitle) &&
          !(toDoFilterOn && todo.done) &&
          !(importantFilterOn && !todo.important) "
      type="checkbox"
      class="checkbox"
      id="{{i}}"
      [(ngModel)]="todos[i].done"
      (change)="checkValue($event, i)"
    >

    <button
      *ngIf=
        "todo.title.includes(searchTitle) &&
          !(toDoFilterOn && todo.done) &&
          !(importantFilterOn && !todo.important) "
      id="{{i}}"
      class="importantBtn btn"
      (click)="addToImportant(i)"
      [class.important]="todo.important"
      [class.done]="todo.done"
    >!!!
    </button>

    <p
      *ngIf=
        "todo.title.includes(searchTitle) &&
          !(toDoFilterOn && todo.done) &&
          !(importantFilterOn && !todo.important) "
      [class.important]="todo.important"
      [class.done]="todo.done"
      [class.do]="todo.done"
    >{{todo.title}}</p>

  </div>

  <!--<ng-template #noFind>
    <p class="noFound"> Can't find a task... </p>
  </ng-template>-->

</div>
